<form [formGroup]="artistForm" (ngSubmit)="onSubmit()" #form="ngForm">   
    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">

    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">

    <label for="artist-name">Artist Name: </label>
    <input id="artist-name" type="text" formControlName="artistName">

    <label for="pronouns">Pronouns: </label>
    <input id="pronouns" type="text" formControlName="pronouns">

    <label for="date-of-birth">Date of Birth: </label>
    <input id="date-of-birth" type="datetime" formControlName="dateOfBirth">

    <label for="place-of-birth">Place of Birth: </label>
    <input id="place-of-birth" type="text" formControlName="placeOfBirth">

    <label for="nationality">Nationality: </label>
    <input id="nationality" type="text" formControlName="nationality">

    <label for="language">Language: </label>
    <input id="language" type="text" formControlName="language">

    <label for="facebook">Facebook: </label>
    <input id="facebook" type="url" formControlName="facebook">

    <label for="instagram">Instagram: </label>
    <input id="instagram" type="url" formControlName="instagram">

    <label for="bandcamp">Bandcamp: </label>
    <input id="bandcamp" type="url" formControlName="bandcamp">

    <label for="bio-german">Your Bio (in German): </label>
    <input id="bio-german" type="text" formControlName="bioGerman">

    <label for="bio-english">Your Bio (in English): </label>
    <input id="bio-english" type="text" formControlName="bioEnglish">

    <button>Submit</button>
</form>